project_id = "biipyscibeygppqqybay"



[auth]
enabled = true
site_url = "http://localhost:3000" 
additional_redirect_urls = ["https://07b5673e-5991-4a4d-9be4-a64e60511f82.lovableproject.com/**", "https://id-preview--07b5673e-5991-4a4d-9be4-a64e60511f82.lovable.app/**", "https://massrides-agri-pwa.lovable.app/**", "https://preview--massrides-agri-pwa.lovable.app/**"]
jwt_expiry = 3600
enable_refresh_token_rotation = true
refresh_token_reuse_interval = 10  

[auth.mfa]
max_enrolled_factors = 10
[auth.mfa.totp]
enroll_enabled = true
verify_enabled = true
[auth.mfa.phone]
enroll_enabled = false
verify_enabled = false
[auth.email]
enable_signup = true
double_confirm_changes = true      
enable_confirmations = true        
secure_password_change = false     
max_frequency = "1m0s"
otp_length = 6
otp_expiry = 86400
[auth.email.template]
[auth.sms]
enable_signup = false

