
\restrict CyYAbP07etNOY5MdeI6OVwAzmgowP58ll33EU7ZQsYoxwv4lJ0DEVuR0pOapfaY


SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;


CREATE SCHEMA IF NOT EXISTS "public";


ALTER SCHEMA "public" OWNER TO "postgres";


CREATE OR REPLACE FUNCTION "public"."get_my_role"() RETURNS "text"
    LANGUAGE "sql" STABLE SECURITY DEFINER
    SET "search_path" TO ''
    AS $$
  SELECT role FROM public.user_profiles WHERE user_id = auth.uid();
$$;


ALTER FUNCTION "public"."get_my_role"() OWNER TO "postgres";


CREATE OR REPLACE FUNCTION "public"."handle_new_user"() RETURNS "trigger"
    LANGUAGE "plpgsql" SECURITY DEFINER
    AS $$
BEGIN
    INSERT INTO public.user_profiles (user_id, email, full_name, phone, company_name)
    VALUES (
        NEW.id,
        NEW.email,
        NEW.raw_user_meta_data->>'full_name',
        NEW.raw_user_meta_data->>'phone',
        NEW.raw_user_meta_data->>'company_name'
    );
    RETURN NEW;
END;
$$;


ALTER FUNCTION "public"."handle_new_user"() OWNER TO "postgres";


COMMENT ON FUNCTION "public"."handle_new_user"() IS 'Creates user profile when new auth user is created';



CREATE OR REPLACE FUNCTION "public"."has_role"("_role" "text") RETURNS boolean
    LANGUAGE "plpgsql" SECURITY DEFINER
    SET "search_path" TO ''
    AS $$
DECLARE
  user_role text;
BEGIN
  SELECT raw_user_meta_data->>'role' INTO user_role 
  FROM auth.users 
  WHERE id = auth.uid();
  
  RETURN user_role = _role;
END;
$$;


ALTER FUNCTION "public"."has_role"("_role" "text") OWNER TO "postgres";


CREATE OR REPLACE FUNCTION "public"."has_role"("_role" "text", "_user_id" "uuid" DEFAULT "auth"."uid"()) RETURNS boolean
    LANGUAGE "sql" STABLE SECURITY DEFINER
    SET "search_path" TO ''
    AS $$
  SELECT EXISTS (
    SELECT 1 FROM public.user_profiles
    WHERE user_id = _user_id AND role = _role
  );
$$;


ALTER FUNCTION "public"."has_role"("_role" "text", "_user_id" "uuid") OWNER TO "postgres";


CREATE OR REPLACE FUNCTION "public"."is_super_admin"("_user_id" "uuid" DEFAULT "auth"."uid"()) RETURNS boolean
    LANGUAGE "sql" SECURITY DEFINER
    AS $$
    SELECT public.has_role('super_admin', _user_id);
$$;


ALTER FUNCTION "public"."is_super_admin"("_user_id" "uuid") OWNER TO "postgres";


COMMENT ON FUNCTION "public"."is_super_admin"("_user_id" "uuid") IS 'Checks if a user is a super admin';



CREATE OR REPLACE FUNCTION "public"."uid"() RETURNS "uuid"
    LANGUAGE "sql" SECURITY DEFINER
    AS $$
    SELECT id FROM public.user_profiles WHERE user_id = auth.uid();
$$;


ALTER FUNCTION "public"."uid"() OWNER TO "postgres";


COMMENT ON FUNCTION "public"."uid"() IS 'Returns the current user profile ID';



CREATE OR REPLACE FUNCTION "public"."update_conversation_last_message_at"() RETURNS "trigger"
    LANGUAGE "plpgsql"
    AS $$
BEGIN
    UPDATE public.conversations
    SET last_message_at = NEW.created_at
    WHERE id = NEW.conversation_id;
    RETURN NEW;
END;
$$;


ALTER FUNCTION "public"."update_conversation_last_message_at"() OWNER TO "postgres";


CREATE OR REPLACE FUNCTION "public"."update_updated_at_column"() RETURNS "trigger"
    LANGUAGE "plpgsql"
    AS $$
BEGIN
    NEW.updated_at = now();
    RETURN NEW;
END;
$$;


ALTER FUNCTION "public"."update_updated_at_column"() OWNER TO "postgres";

SET default_tablespace = '';

SET default_table_access_method = "heap";


CREATE TABLE IF NOT EXISTS "public"."activity_logs" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "user_id" "uuid",
    "action" "text" NOT NULL,
    "metadata" "jsonb" DEFAULT '{}'::"jsonb",
    "created_at" timestamp with time zone DEFAULT "now"()
);


ALTER TABLE "public"."activity_logs" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."ads" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "vendor_id" "uuid" NOT NULL,
    "title" "text" NOT NULL,
    "description" "text",
    "image_url" "text" NOT NULL,
    "target_url" "text",
    "ad_type" "text" DEFAULT 'banner'::"text",
    "status" "text" DEFAULT 'pending'::"text",
    "start_date" timestamp with time zone,
    "end_date" timestamp with time zone,
    "clicks" integer DEFAULT 0,
    "impressions" integer DEFAULT 0,
    "created_at" timestamp with time zone DEFAULT "now"(),
    "updated_at" timestamp with time zone DEFAULT "now"(),
    CONSTRAINT "ads_ad_type_check" CHECK (("ad_type" = ANY (ARRAY['banner'::"text", 'sidebar'::"text", 'featured'::"text", 'popup'::"text"]))),
    CONSTRAINT "ads_status_check" CHECK (("status" = ANY (ARRAY['pending'::"text", 'active'::"text", 'rejected'::"text", 'paused'::"text", 'expired'::"text"])))
);


ALTER TABLE "public"."ads" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."cart_items" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "cart_id" "uuid" NOT NULL,
    "spare_part_id" "uuid" NOT NULL,
    "quantity" integer NOT NULL,
    "added_at" timestamp with time zone DEFAULT "now"(),
    "user_id" "uuid",
    CONSTRAINT "cart_items_quantity_check" CHECK (("quantity" > 0))
);


ALTER TABLE "public"."cart_items" OWNER TO "postgres";


COMMENT ON TABLE "public"."cart_items" IS 'Individual items in user shopping carts';



CREATE TABLE IF NOT EXISTS "public"."categories" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "name" "text" NOT NULL,
    "description" "text",
    "parent_id" "uuid",
    "image_url" "text",
    "sort_order" integer DEFAULT 0,
    "is_active" boolean DEFAULT true,
    "created_at" timestamp with time zone DEFAULT "now"(),
    "updated_at" timestamp with time zone DEFAULT "now"()
);


ALTER TABLE "public"."categories" OWNER TO "postgres";


COMMENT ON TABLE "public"."categories" IS 'Product categories with hierarchical support';



CREATE TABLE IF NOT EXISTS "public"."conversations" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "participant_1_id" "uuid" NOT NULL,
    "participant_2_id" "uuid" NOT NULL,
    "last_message_at" timestamp with time zone DEFAULT "now"(),
    "created_at" timestamp with time zone DEFAULT "now"()
);


ALTER TABLE "public"."conversations" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."email_logs" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "order_id" bigint,
    "recipient" "text" NOT NULL,
    "type" "text" NOT NULL,
    "subject" "text",
    "status" "text" DEFAULT 'pending'::"text" NOT NULL,
    "provider" "text",
    "provider_message_id" "text",
    "error" "text",
    "sent_at" timestamp with time zone,
    "created_at" timestamp with time zone DEFAULT "now"(),
    CONSTRAINT "email_logs_status_check" CHECK (("status" = ANY (ARRAY['pending'::"text", 'sent'::"text", 'failed'::"text"]))),
    CONSTRAINT "email_logs_type_check" CHECK (("type" = ANY (ARRAY['order_confirmation'::"text", 'payment_receipt'::"text", 'shipping_update'::"text", 'welcome'::"text", 'password_reset'::"text", 'otp'::"text", 'other'::"text"])))
);


ALTER TABLE "public"."email_logs" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."guest_cart_items" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "guest_cart_id" "uuid" NOT NULL,
    "spare_part_id" "uuid" NOT NULL,
    "quantity" integer NOT NULL,
    "added_at" timestamp with time zone DEFAULT "now"(),
    "guest_session_id" "text",
    CONSTRAINT "guest_cart_items_quantity_check" CHECK (("quantity" > 0))
);


ALTER TABLE "public"."guest_cart_items" OWNER TO "postgres";


COMMENT ON TABLE "public"."guest_cart_items" IS 'Individual items in guest shopping carts';



CREATE TABLE IF NOT EXISTS "public"."guest_carts" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "session_id" "text" NOT NULL,
    "created_at" timestamp with time zone DEFAULT "now"(),
    "updated_at" timestamp with time zone DEFAULT "now"()
);


ALTER TABLE "public"."guest_carts" OWNER TO "postgres";


COMMENT ON TABLE "public"."guest_carts" IS 'Shopping carts for guest users identified by session';



CREATE TABLE IF NOT EXISTS "public"."inventory_logs" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "product_id" bigint NOT NULL,
    "vendor_id" "uuid",
    "change_type" "text" NOT NULL,
    "quantity_change" integer NOT NULL,
    "previous_quantity" integer NOT NULL,
    "new_quantity" integer NOT NULL,
    "reason" "text",
    "created_by" "uuid",
    "created_at" timestamp with time zone DEFAULT "now"(),
    CONSTRAINT "inventory_logs_change_type_check" CHECK (("change_type" = ANY (ARRAY['restock'::"text", 'sale'::"text", 'adjustment'::"text", 'return'::"text"])))
);


ALTER TABLE "public"."inventory_logs" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."messages" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "conversation_id" "uuid" NOT NULL,
    "sender_id" "uuid" NOT NULL,
    "recipient_id" "uuid" NOT NULL,
    "content" "text" NOT NULL,
    "message_type" "text" DEFAULT 'text'::"text",
    "attachment_url" "text",
    "read_at" timestamp with time zone,
    "created_at" timestamp with time zone DEFAULT "now"()
);


ALTER TABLE "public"."messages" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."notifications" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "user_id" "uuid",
    "title" "text" NOT NULL,
    "message" "text" NOT NULL,
    "read" boolean DEFAULT false,
    "type" "text" DEFAULT 'info'::"text",
    "link" "text",
    "created_at" timestamp with time zone DEFAULT "now"(),
    "target_role" "text",
    CONSTRAINT "notifications_type_check" CHECK (("type" = ANY (ARRAY['info'::"text", 'success'::"text", 'warning'::"text", 'error'::"text"])))
);


ALTER TABLE "public"."notifications" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."order_items" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "order_id" "uuid" NOT NULL,
    "spare_part_id" "uuid",
    "product_name" "text",
    "quantity" numeric DEFAULT 1 NOT NULL,
    "price" numeric DEFAULT 0 NOT NULL,
    "created_at" timestamp with time zone DEFAULT "now"(),
    "updated_at" timestamp with time zone DEFAULT "now"()
);


ALTER TABLE "public"."order_items" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."orders" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "order_number" "text" NOT NULL,
    "user_id" "uuid",
    "status" "text" DEFAULT 'pending'::"text" NOT NULL,
    "payment_status" "text" DEFAULT 'unpaid'::"text" NOT NULL,
    "total_amount" numeric DEFAULT 0,
    "shipping_address" "jsonb",
    "billing_address" "jsonb",
    "created_at" timestamp with time zone DEFAULT "now"(),
    "updated_at" timestamp with time zone DEFAULT "now"(),
    CONSTRAINT "orders_payment_status_check" CHECK (("payment_status" = ANY (ARRAY['unpaid'::"text", 'pending'::"text", 'paid'::"text", 'failed'::"text", 'refunded'::"text"]))),
    CONSTRAINT "orders_status_check" CHECK (("status" = ANY (ARRAY['pending'::"text", 'processing'::"text", 'shipped'::"text", 'delivered'::"text", 'cancelled'::"text", 'refunded'::"text"])))
);


ALTER TABLE "public"."orders" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."payments" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "order_id" "uuid",
    "amount" numeric NOT NULL,
    "currency" "text" DEFAULT 'ZMW'::"text",
    "status" "text" DEFAULT 'pending'::"text",
    "merchant_reference" "text",
    "payment_method" "text",
    "provider" "text",
    "created_at" timestamp with time zone DEFAULT "now"(),
    "updated_at" timestamp with time zone DEFAULT "now"()
);


ALTER TABLE "public"."payments" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."profiles" (
    "id" "uuid" NOT NULL,
    "role" "text" DEFAULT 'customer'::"text" NOT NULL,
    "full_name" "text",
    "vendor_name" "text",
    "created_at" timestamp with time zone DEFAULT "now"(),
    "email" "text",
    "updated_at" timestamp with time zone DEFAULT "now"(),
    CONSTRAINT "profiles_role_check" CHECK (("role" = ANY (ARRAY['customer'::"text", 'vendor'::"text", 'admin'::"text", 'super_admin'::"text", 'guest'::"text"])))
);


ALTER TABLE "public"."profiles" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."quote_items" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "quote_id" "uuid" NOT NULL,
    "spare_part_id" "uuid",
    "product_name" "text",
    "quantity" numeric DEFAULT 1 NOT NULL,
    "price" numeric DEFAULT 0 NOT NULL,
    "created_at" timestamp with time zone DEFAULT "now"(),
    "updated_at" timestamp with time zone DEFAULT "now"()
);


ALTER TABLE "public"."quote_items" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."quotes" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "quote_number" "text" NOT NULL,
    "client_id" "uuid",
    "vendor_id" "uuid",
    "status" "text" DEFAULT 'pending'::"text" NOT NULL,
    "total_amount" numeric DEFAULT 0,
    "notes" "text",
    "valid_until" timestamp with time zone,
    "created_at" timestamp with time zone DEFAULT "now"(),
    "updated_at" timestamp with time zone DEFAULT "now"(),
    CONSTRAINT "quotes_status_check" CHECK (("status" = ANY (ARRAY['pending'::"text", 'sent'::"text", 'accepted'::"text", 'rejected'::"text", 'revised'::"text", 'cancelled'::"text"])))
);


ALTER TABLE "public"."quotes" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."spare_parts" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "vendor_id" "uuid",
    "category_id" "uuid",
    "name" "text" NOT NULL,
    "description" "text",
    "part_number" "text" NOT NULL,
    "oem_part_number" "text",
    "aftermarket_part_number" "text",
    "brand" "text",
    "price" numeric(10,2) NOT NULL,
    "condition" "text" DEFAULT 'new'::"text",
    "availability_status" "text" DEFAULT 'in_stock'::"text",
    "stock_quantity" integer DEFAULT 0,
    "min_stock_level" integer DEFAULT 5,
    "images" "text"[] DEFAULT '{}'::"text"[],
    "technical_specs" "jsonb" DEFAULT '{}'::"jsonb",
    "compatibility" "text"[] DEFAULT '{}'::"text"[],
    "warranty" "text" DEFAULT '12 months'::"text",
    "weight" numeric(8,2),
    "dimensions" "text",
    "featured" boolean DEFAULT false,
    "tags" "text"[] DEFAULT '{}'::"text"[],
    "is_active" boolean DEFAULT true,
    "created_at" timestamp with time zone DEFAULT "now"(),
    "updated_at" timestamp with time zone DEFAULT "now"(),
    CONSTRAINT "spare_parts_availability_status_check" CHECK (("availability_status" = ANY (ARRAY['in_stock'::"text", 'out_of_stock'::"text", 'on_order'::"text", 'discontinued'::"text"]))),
    CONSTRAINT "spare_parts_condition_check" CHECK (("condition" = ANY (ARRAY['new'::"text", 'used'::"text", 'refurbished'::"text", 'oem'::"text", 'aftermarket'::"text"]))),
    CONSTRAINT "spare_parts_min_stock_level_check" CHECK (("min_stock_level" >= 0)),
    CONSTRAINT "spare_parts_price_check" CHECK (("price" >= (0)::numeric)),
    CONSTRAINT "spare_parts_stock_quantity_check" CHECK (("stock_quantity" >= 0))
);


ALTER TABLE "public"."spare_parts" OWNER TO "postgres";


COMMENT ON TABLE "public"."spare_parts" IS 'Agricultural spare parts catalog with comprehensive specifications';



CREATE TABLE IF NOT EXISTS "public"."tj_payment_methods" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "user_id" "uuid" NOT NULL,
    "payment_method_token" "text" NOT NULL,
    "brand" "text" NOT NULL,
    "last4" "text" NOT NULL,
    "exp_month" integer NOT NULL,
    "exp_year" integer NOT NULL,
    "is_default" boolean DEFAULT false,
    "created_at" timestamp with time zone DEFAULT "now"(),
    "updated_at" timestamp with time zone DEFAULT "now"()
);


ALTER TABLE "public"."tj_payment_methods" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."user_carts" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "user_id" "uuid" NOT NULL,
    "created_at" timestamp with time zone DEFAULT "now"(),
    "updated_at" timestamp with time zone DEFAULT "now"()
);


ALTER TABLE "public"."user_carts" OWNER TO "postgres";


COMMENT ON TABLE "public"."user_carts" IS 'User shopping carts for authenticated users';



CREATE TABLE IF NOT EXISTS "public"."user_profiles" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "user_id" "uuid" NOT NULL,
    "email" "text" NOT NULL,
    "full_name" "text",
    "phone" "text",
    "address" "text",
    "city" "text",
    "state" "text",
    "zip_code" "text",
    "country" "text" DEFAULT 'Zambia'::"text",
    "company_name" "text",
    "role" "text" DEFAULT 'customer'::"text",
    "website_url" "text",
    "avatar_url" "text",
    "bio" "text",
    "is_verified" boolean DEFAULT false,
    "is_active" boolean DEFAULT true,
    "created_at" timestamp with time zone DEFAULT "now"(),
    "updated_at" timestamp with time zone DEFAULT "now"(),
    CONSTRAINT "user_profiles_role_check" CHECK (("role" = ANY (ARRAY['super_admin'::"text", 'admin'::"text", 'vendor'::"text", 'customer'::"text", 'guest'::"text"])))
);


ALTER TABLE "public"."user_profiles" OWNER TO "postgres";


COMMENT ON TABLE "public"."user_profiles" IS 'Extended user profile information linked to auth.users';



CREATE TABLE IF NOT EXISTS "public"."vendor_media" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "vendor_id" "uuid" NOT NULL,
    "file_name" "text" NOT NULL,
    "file_url" "text" NOT NULL,
    "file_type" "text",
    "file_size" numeric,
    "alt_text" "text",
    "description" "text",
    "tags" "text"[] DEFAULT '{}'::"text"[],
    "created_at" timestamp with time zone DEFAULT "now"(),
    "updated_at" timestamp with time zone DEFAULT "now"()
);


ALTER TABLE "public"."vendor_media" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."vendor_orders" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "vendor_id" "uuid" NOT NULL,
    "order_id" bigint NOT NULL,
    "status" "text" DEFAULT 'pending'::"text" NOT NULL,
    "subtotal" numeric,
    "created_at" timestamp with time zone DEFAULT "now"()
);


ALTER TABLE "public"."vendor_orders" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."vendor_users" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "vendor_id" "uuid" NOT NULL,
    "user_id" "uuid" NOT NULL,
    "role" "text" DEFAULT 'staff'::"text" NOT NULL,
    "invited_at" timestamp with time zone DEFAULT "now"(),
    "joined_at" timestamp with time zone,
    CONSTRAINT "vendor_users_role_check" CHECK (("role" = ANY (ARRAY['owner'::"text", 'manager'::"text", 'staff'::"text"])))
);


ALTER TABLE "public"."vendor_users" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."vendors" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "owner_id" "uuid" NOT NULL,
    "name" "text" NOT NULL,
    "is_active" boolean DEFAULT true,
    "created_at" timestamp with time zone DEFAULT "now"()
);


ALTER TABLE "public"."vendors" OWNER TO "postgres";


ALTER TABLE ONLY "public"."activity_logs"
    ADD CONSTRAINT "activity_logs_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."ads"
    ADD CONSTRAINT "ads_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."cart_items"
    ADD CONSTRAINT "cart_items_cart_id_spare_part_id_key" UNIQUE ("cart_id", "spare_part_id");



ALTER TABLE ONLY "public"."cart_items"
    ADD CONSTRAINT "cart_items_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."cart_items"
    ADD CONSTRAINT "cart_items_user_spare_unique" UNIQUE ("user_id", "spare_part_id");



ALTER TABLE ONLY "public"."categories"
    ADD CONSTRAINT "categories_name_key" UNIQUE ("name");



ALTER TABLE ONLY "public"."categories"
    ADD CONSTRAINT "categories_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."conversations"
    ADD CONSTRAINT "conversations_participants_unique" UNIQUE ("participant_1_id", "participant_2_id");



ALTER TABLE ONLY "public"."conversations"
    ADD CONSTRAINT "conversations_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."email_logs"
    ADD CONSTRAINT "email_logs_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."guest_cart_items"
    ADD CONSTRAINT "guest_cart_items_guest_cart_id_spare_part_id_key" UNIQUE ("guest_cart_id", "spare_part_id");



ALTER TABLE ONLY "public"."guest_cart_items"
    ADD CONSTRAINT "guest_cart_items_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."guest_carts"
    ADD CONSTRAINT "guest_carts_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."guest_carts"
    ADD CONSTRAINT "guest_carts_session_id_key" UNIQUE ("session_id");



ALTER TABLE ONLY "public"."inventory_logs"
    ADD CONSTRAINT "inventory_logs_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."messages"
    ADD CONSTRAINT "messages_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."notifications"
    ADD CONSTRAINT "notifications_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."order_items"
    ADD CONSTRAINT "order_items_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."orders"
    ADD CONSTRAINT "orders_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."payments"
    ADD CONSTRAINT "payments_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."profiles"
    ADD CONSTRAINT "profiles_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."quote_items"
    ADD CONSTRAINT "quote_items_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."quotes"
    ADD CONSTRAINT "quotes_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."spare_parts"
    ADD CONSTRAINT "spare_parts_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."tj_payment_methods"
    ADD CONSTRAINT "tj_payment_methods_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."user_carts"
    ADD CONSTRAINT "user_carts_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."user_carts"
    ADD CONSTRAINT "user_carts_user_id_key" UNIQUE ("user_id");



ALTER TABLE ONLY "public"."user_profiles"
    ADD CONSTRAINT "user_profiles_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."user_profiles"
    ADD CONSTRAINT "user_profiles_user_id_key" UNIQUE ("user_id");



ALTER TABLE ONLY "public"."vendor_media"
    ADD CONSTRAINT "vendor_media_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."vendor_orders"
    ADD CONSTRAINT "vendor_orders_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."vendor_users"
    ADD CONSTRAINT "vendor_users_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."vendor_users"
    ADD CONSTRAINT "vendor_users_unique" UNIQUE ("vendor_id", "user_id");



ALTER TABLE ONLY "public"."vendors"
    ADD CONSTRAINT "vendors_pkey" PRIMARY KEY ("id");



CREATE INDEX "idx_cart_items_cart_id" ON "public"."cart_items" USING "btree" ("cart_id");



CREATE INDEX "idx_cart_items_spare_part_id" ON "public"."cart_items" USING "btree" ("spare_part_id");



CREATE INDEX "idx_cart_items_user_id" ON "public"."cart_items" USING "btree" ("user_id");



CREATE INDEX "idx_categories_is_active" ON "public"."categories" USING "btree" ("is_active");



CREATE INDEX "idx_categories_parent_id" ON "public"."categories" USING "btree" ("parent_id");



CREATE INDEX "idx_categories_sort_order" ON "public"."categories" USING "btree" ("sort_order");



CREATE INDEX "idx_guest_cart_items_guest_cart_id" ON "public"."guest_cart_items" USING "btree" ("guest_cart_id");



CREATE INDEX "idx_guest_cart_items_session_id" ON "public"."guest_cart_items" USING "btree" ("guest_session_id");



CREATE INDEX "idx_guest_cart_items_spare_part_id" ON "public"."guest_cart_items" USING "btree" ("spare_part_id");



CREATE INDEX "idx_guest_carts_session_id" ON "public"."guest_carts" USING "btree" ("session_id");



CREATE INDEX "idx_payments_merchant_ref" ON "public"."payments" USING "btree" ("merchant_reference");



CREATE INDEX "idx_payments_order_id" ON "public"."payments" USING "btree" ("order_id");



CREATE INDEX "idx_payments_status" ON "public"."payments" USING "btree" ("status");



CREATE INDEX "idx_spare_parts_availability" ON "public"."spare_parts" USING "btree" ("availability_status");



CREATE INDEX "idx_spare_parts_brand" ON "public"."spare_parts" USING "btree" ("brand");



CREATE INDEX "idx_spare_parts_category_id" ON "public"."spare_parts" USING "btree" ("category_id");



CREATE INDEX "idx_spare_parts_featured" ON "public"."spare_parts" USING "btree" ("featured");



CREATE INDEX "idx_spare_parts_is_active" ON "public"."spare_parts" USING "btree" ("is_active");



CREATE INDEX "idx_spare_parts_part_number" ON "public"."spare_parts" USING "btree" ("part_number");



CREATE INDEX "idx_spare_parts_price" ON "public"."spare_parts" USING "btree" ("price");



CREATE INDEX "idx_spare_parts_search" ON "public"."spare_parts" USING "gin" ("to_tsvector"('"english"'::"regconfig", (((((("name" || ' '::"text") || "description") || ' '::"text") || "part_number") || ' '::"text") || "brand")));



CREATE INDEX "idx_spare_parts_stock" ON "public"."spare_parts" USING "btree" ("stock_quantity");



CREATE INDEX "idx_spare_parts_vendor_id" ON "public"."spare_parts" USING "btree" ("vendor_id");



CREATE INDEX "idx_tj_payment_methods_user_id" ON "public"."tj_payment_methods" USING "btree" ("user_id");



CREATE INDEX "idx_user_carts_user_id" ON "public"."user_carts" USING "btree" ("user_id");



CREATE INDEX "idx_user_profiles_email" ON "public"."user_profiles" USING "btree" ("email");



CREATE INDEX "idx_user_profiles_is_active" ON "public"."user_profiles" USING "btree" ("is_active");



CREATE INDEX "idx_user_profiles_role" ON "public"."user_profiles" USING "btree" ("role");



CREATE INDEX "idx_user_profiles_user_id" ON "public"."user_profiles" USING "btree" ("user_id");



CREATE OR REPLACE TRIGGER "update_ads_updated_at" BEFORE UPDATE ON "public"."ads" FOR EACH ROW EXECUTE FUNCTION "public"."update_updated_at_column"();



CREATE OR REPLACE TRIGGER "update_categories_updated_at" BEFORE UPDATE ON "public"."categories" FOR EACH ROW EXECUTE FUNCTION "public"."update_updated_at_column"();



CREATE OR REPLACE TRIGGER "update_conversation_timestamp" AFTER INSERT ON "public"."messages" FOR EACH ROW EXECUTE FUNCTION "public"."update_conversation_last_message_at"();



CREATE OR REPLACE TRIGGER "update_guest_carts_updated_at" BEFORE UPDATE ON "public"."guest_carts" FOR EACH ROW EXECUTE FUNCTION "public"."update_updated_at_column"();



CREATE OR REPLACE TRIGGER "update_profiles_modtime" BEFORE UPDATE ON "public"."profiles" FOR EACH ROW EXECUTE FUNCTION "public"."update_updated_at_column"();



CREATE OR REPLACE TRIGGER "update_profiles_updated_at" BEFORE UPDATE ON "public"."profiles" FOR EACH ROW EXECUTE FUNCTION "public"."update_updated_at_column"();



CREATE OR REPLACE TRIGGER "update_quote_items_updated_at" BEFORE UPDATE ON "public"."quote_items" FOR EACH ROW EXECUTE FUNCTION "public"."update_updated_at_column"();



CREATE OR REPLACE TRIGGER "update_quotes_updated_at" BEFORE UPDATE ON "public"."quotes" FOR EACH ROW EXECUTE FUNCTION "public"."update_updated_at_column"();



CREATE OR REPLACE TRIGGER "update_spare_parts_updated_at" BEFORE UPDATE ON "public"."spare_parts" FOR EACH ROW EXECUTE FUNCTION "public"."update_updated_at_column"();



CREATE OR REPLACE TRIGGER "update_tj_payment_methods_updated_at" BEFORE UPDATE ON "public"."tj_payment_methods" FOR EACH ROW EXECUTE FUNCTION "public"."update_updated_at_column"();



CREATE OR REPLACE TRIGGER "update_user_carts_updated_at" BEFORE UPDATE ON "public"."user_carts" FOR EACH ROW EXECUTE FUNCTION "public"."update_updated_at_column"();



CREATE OR REPLACE TRIGGER "update_user_profiles_updated_at" BEFORE UPDATE ON "public"."user_profiles" FOR EACH ROW EXECUTE FUNCTION "public"."update_updated_at_column"();



CREATE OR REPLACE TRIGGER "update_vendor_media_updated_at" BEFORE UPDATE ON "public"."vendor_media" FOR EACH ROW EXECUTE FUNCTION "public"."update_updated_at_column"();



ALTER TABLE ONLY "public"."activity_logs"
    ADD CONSTRAINT "activity_logs_user_id_fkey" FOREIGN KEY ("user_id") REFERENCES "auth"."users"("id") ON DELETE SET NULL;



ALTER TABLE ONLY "public"."ads"
    ADD CONSTRAINT "ads_vendor_id_fkey" FOREIGN KEY ("vendor_id") REFERENCES "public"."user_profiles"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."cart_items"
    ADD CONSTRAINT "cart_items_cart_id_fkey" FOREIGN KEY ("cart_id") REFERENCES "public"."user_carts"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."cart_items"
    ADD CONSTRAINT "cart_items_spare_part_id_fkey" FOREIGN KEY ("spare_part_id") REFERENCES "public"."spare_parts"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."cart_items"
    ADD CONSTRAINT "cart_items_user_id_fkey" FOREIGN KEY ("user_id") REFERENCES "auth"."users"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."categories"
    ADD CONSTRAINT "categories_parent_id_fkey" FOREIGN KEY ("parent_id") REFERENCES "public"."categories"("id") ON DELETE SET NULL;



ALTER TABLE ONLY "public"."conversations"
    ADD CONSTRAINT "conversations_participant_1_id_fkey" FOREIGN KEY ("participant_1_id") REFERENCES "public"."user_profiles"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."conversations"
    ADD CONSTRAINT "conversations_participant_2_id_fkey" FOREIGN KEY ("participant_2_id") REFERENCES "public"."user_profiles"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."guest_cart_items"
    ADD CONSTRAINT "guest_cart_items_guest_cart_id_fkey" FOREIGN KEY ("guest_cart_id") REFERENCES "public"."guest_carts"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."guest_cart_items"
    ADD CONSTRAINT "guest_cart_items_spare_part_id_fkey" FOREIGN KEY ("spare_part_id") REFERENCES "public"."spare_parts"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."inventory_logs"
    ADD CONSTRAINT "inventory_logs_vendor_id_fkey" FOREIGN KEY ("vendor_id") REFERENCES "public"."vendors"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."messages"
    ADD CONSTRAINT "messages_conversation_id_fkey" FOREIGN KEY ("conversation_id") REFERENCES "public"."conversations"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."messages"
    ADD CONSTRAINT "messages_recipient_id_fkey" FOREIGN KEY ("recipient_id") REFERENCES "public"."user_profiles"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."messages"
    ADD CONSTRAINT "messages_sender_id_fkey" FOREIGN KEY ("sender_id") REFERENCES "public"."user_profiles"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."notifications"
    ADD CONSTRAINT "notifications_user_id_fkey" FOREIGN KEY ("user_id") REFERENCES "auth"."users"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."order_items"
    ADD CONSTRAINT "order_items_order_id_fkey" FOREIGN KEY ("order_id") REFERENCES "public"."orders"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."order_items"
    ADD CONSTRAINT "order_items_spare_part_id_fkey" FOREIGN KEY ("spare_part_id") REFERENCES "public"."spare_parts"("id");



ALTER TABLE ONLY "public"."orders"
    ADD CONSTRAINT "orders_user_id_fkey" FOREIGN KEY ("user_id") REFERENCES "public"."user_profiles"("id");



ALTER TABLE ONLY "public"."payments"
    ADD CONSTRAINT "payments_order_id_fkey" FOREIGN KEY ("order_id") REFERENCES "public"."orders"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."profiles"
    ADD CONSTRAINT "profiles_id_fkey" FOREIGN KEY ("id") REFERENCES "auth"."users"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."quote_items"
    ADD CONSTRAINT "quote_items_quote_id_fkey" FOREIGN KEY ("quote_id") REFERENCES "public"."quotes"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."quote_items"
    ADD CONSTRAINT "quote_items_spare_part_id_fkey" FOREIGN KEY ("spare_part_id") REFERENCES "public"."spare_parts"("id");



ALTER TABLE ONLY "public"."quotes"
    ADD CONSTRAINT "quotes_client_id_fkey" FOREIGN KEY ("client_id") REFERENCES "public"."user_profiles"("id");



ALTER TABLE ONLY "public"."quotes"
    ADD CONSTRAINT "quotes_vendor_id_fkey" FOREIGN KEY ("vendor_id") REFERENCES "public"."user_profiles"("id");



ALTER TABLE ONLY "public"."spare_parts"
    ADD CONSTRAINT "spare_parts_category_id_fkey" FOREIGN KEY ("category_id") REFERENCES "public"."categories"("id") ON DELETE SET NULL;



ALTER TABLE ONLY "public"."spare_parts"
    ADD CONSTRAINT "spare_parts_vendor_id_fkey" FOREIGN KEY ("vendor_id") REFERENCES "public"."user_profiles"("id") ON DELETE SET NULL;



ALTER TABLE ONLY "public"."tj_payment_methods"
    ADD CONSTRAINT "tj_payment_methods_user_id_fkey" FOREIGN KEY ("user_id") REFERENCES "public"."user_profiles"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."user_carts"
    ADD CONSTRAINT "user_carts_user_id_fkey" FOREIGN KEY ("user_id") REFERENCES "public"."user_profiles"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."user_profiles"
    ADD CONSTRAINT "user_profiles_user_id_fkey" FOREIGN KEY ("user_id") REFERENCES "auth"."users"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."vendor_media"
    ADD CONSTRAINT "vendor_media_vendor_id_fkey" FOREIGN KEY ("vendor_id") REFERENCES "public"."user_profiles"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."vendor_orders"
    ADD CONSTRAINT "vendor_orders_vendor_id_fkey" FOREIGN KEY ("vendor_id") REFERENCES "public"."vendors"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."vendor_users"
    ADD CONSTRAINT "vendor_users_user_id_fkey" FOREIGN KEY ("user_id") REFERENCES "auth"."users"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."vendor_users"
    ADD CONSTRAINT "vendor_users_vendor_id_fkey" FOREIGN KEY ("vendor_id") REFERENCES "public"."vendors"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."vendors"
    ADD CONSTRAINT "vendors_owner_id_fkey" FOREIGN KEY ("owner_id") REFERENCES "auth"."users"("id");



CREATE POLICY "Admins can manage all ads" ON "public"."ads" USING ((EXISTS ( SELECT 1
   FROM "public"."user_profiles"
  WHERE (("user_profiles"."user_id" = "auth"."uid"()) AND ("user_profiles"."role" = ANY (ARRAY['admin'::"text", 'super_admin'::"text"]))))));



CREATE POLICY "Admins can manage all media" ON "public"."vendor_media" USING ((EXISTS ( SELECT 1
   FROM "public"."user_profiles"
  WHERE (("user_profiles"."user_id" = "auth"."uid"()) AND ("user_profiles"."role" = ANY (ARRAY['admin'::"text", 'super_admin'::"text"]))))));



CREATE POLICY "Admins can manage all spare parts" ON "public"."spare_parts" TO "authenticated" USING ((EXISTS ( SELECT 1
   FROM "public"."user_profiles" "up"
  WHERE (("up"."user_id" = "auth"."uid"()) AND ("up"."role" = ANY (ARRAY['admin'::"text", 'super_admin'::"text"]))))));



CREATE POLICY "Admins can manage categories" ON "public"."categories" TO "authenticated" USING ((EXISTS ( SELECT 1
   FROM "public"."user_profiles" "up"
  WHERE (("up"."user_id" = "auth"."uid"()) AND ("up"."role" = ANY (ARRAY['admin'::"text", 'super_admin'::"text"]))))));



CREATE POLICY "Admins can read all profiles" ON "public"."user_profiles" FOR SELECT TO "authenticated" USING (("public"."get_my_role"() = ANY (ARRAY['admin'::"text", 'super_admin'::"text"])));



CREATE POLICY "Admins can update all orders" ON "public"."orders" FOR UPDATE USING (("public"."has_role"('admin'::"text") OR "public"."has_role"('super_admin'::"text")));



CREATE POLICY "Admins can view all order items" ON "public"."order_items" FOR SELECT USING (("public"."has_role"('admin'::"text") OR "public"."has_role"('super_admin'::"text")));



CREATE POLICY "Admins can view all orders" ON "public"."orders" FOR SELECT USING (("public"."has_role"('admin'::"text") OR "public"."has_role"('super_admin'::"text")));



CREATE POLICY "Admins can view all quotes" ON "public"."quotes" FOR SELECT USING ((EXISTS ( SELECT 1
   FROM "public"."user_profiles"
  WHERE (("user_profiles"."user_id" = "auth"."uid"()) AND ("user_profiles"."role" = ANY (ARRAY['admin'::"text", 'super_admin'::"text"]))))));



CREATE POLICY "Anyone can manage guest cart items" ON "public"."guest_cart_items" TO "authenticated", "anon" USING (true) WITH CHECK (true);



CREATE POLICY "Anyone can manage guest carts" ON "public"."guest_carts" TO "authenticated", "anon" USING (true);



CREATE POLICY "Anyone can read active spare parts" ON "public"."spare_parts" FOR SELECT TO "authenticated", "anon" USING (("is_active" = true));



CREATE POLICY "Anyone can read categories" ON "public"."categories" FOR SELECT TO "authenticated", "anon" USING (("is_active" = true));



CREATE POLICY "Anyone can view categories" ON "public"."categories" FOR SELECT TO "authenticated", "anon" USING (true);



CREATE POLICY "Clients can add items to own quotes" ON "public"."quote_items" FOR INSERT WITH CHECK ((EXISTS ( SELECT 1
   FROM "public"."quotes"
  WHERE (("quotes"."id" = "quote_items"."quote_id") AND ("quotes"."client_id" IN ( SELECT "user_profiles"."id"
           FROM "public"."user_profiles"
          WHERE ("user_profiles"."user_id" = "auth"."uid"())))))));



CREATE POLICY "Clients can create quotes" ON "public"."quotes" FOR INSERT WITH CHECK (("auth"."uid"() IN ( SELECT "user_profiles"."user_id"
   FROM "public"."user_profiles"
  WHERE ("user_profiles"."id" = "quotes"."client_id"))));



CREATE POLICY "Clients can view own quotes" ON "public"."quotes" FOR SELECT USING (("auth"."uid"() IN ( SELECT "user_profiles"."user_id"
   FROM "public"."user_profiles"
  WHERE ("user_profiles"."id" = "quotes"."client_id"))));



CREATE POLICY "Customers can view own payments" ON "public"."payments" FOR SELECT TO "authenticated" USING ((EXISTS ( SELECT 1
   FROM "public"."orders"
  WHERE (("orders"."id" = "payments"."order_id") AND ("orders"."user_id" = "public"."uid"())))));



CREATE POLICY "Profiles Public Read" ON "public"."profiles" FOR SELECT USING (true);



CREATE POLICY "Profiles Self Update" ON "public"."profiles" USING (("auth"."uid"() = "id")) WITH CHECK (("auth"."uid"() = "id"));



CREATE POLICY "Public can view active ads" ON "public"."ads" FOR SELECT USING (("status" = 'active'::"text"));



CREATE POLICY "Public profiles access" ON "public"."profiles" FOR SELECT USING (true);



CREATE POLICY "Users can create conversations" ON "public"."conversations" FOR INSERT WITH CHECK ((("auth"."uid"() = "participant_1_id") OR ("auth"."uid"() = "participant_2_id")));



CREATE POLICY "Users can create own orders" ON "public"."orders" FOR INSERT WITH CHECK (("user_id" IN ( SELECT "user_profiles"."id"
   FROM "public"."user_profiles"
  WHERE ("user_profiles"."user_id" = "auth"."uid"()))));



CREATE POLICY "Users can manage own cart" ON "public"."user_carts" TO "authenticated" USING (("user_id" IN ( SELECT "user_profiles"."id"
   FROM "public"."user_profiles"
  WHERE ("user_profiles"."user_id" = "auth"."uid"()))));



CREATE POLICY "Users can manage own cart items" ON "public"."cart_items" TO "authenticated" USING (("auth"."uid"() = "user_id")) WITH CHECK (("auth"."uid"() = "user_id"));



CREATE POLICY "Users can manage own payment methods" ON "public"."tj_payment_methods" TO "authenticated" USING (("user_id" = ( SELECT "user_profiles"."id"
   FROM "public"."user_profiles"
  WHERE ("user_profiles"."user_id" = "auth"."uid"())))) WITH CHECK (("user_id" = ( SELECT "user_profiles"."id"
   FROM "public"."user_profiles"
  WHERE ("user_profiles"."user_id" = "auth"."uid"()))));



CREATE POLICY "Users can read own notifications" ON "public"."notifications" FOR SELECT USING (("auth"."uid"() = "user_id"));



CREATE POLICY "Users can read own profile" ON "public"."user_profiles" FOR SELECT TO "authenticated" USING (("auth"."uid"() = "user_id"));



CREATE POLICY "Users can sent messages to their conversations" ON "public"."messages" FOR INSERT WITH CHECK ((("auth"."uid"() = "sender_id") AND (EXISTS ( SELECT 1
   FROM "public"."conversations"
  WHERE (("conversations"."id" = "messages"."conversation_id") AND (("conversations"."participant_1_id" = "auth"."uid"()) OR ("conversations"."participant_2_id" = "auth"."uid"())))))));



CREATE POLICY "Users can update own notifications" ON "public"."notifications" FOR UPDATE USING (("auth"."uid"() = "user_id"));



CREATE POLICY "Users can update own profile" ON "public"."profiles" FOR UPDATE USING (("auth"."uid"() = "id"));



CREATE POLICY "Users can update own profile" ON "public"."user_profiles" FOR UPDATE TO "authenticated" USING (("auth"."uid"() = "user_id"));



CREATE POLICY "Users can view messages in their conversations" ON "public"."messages" FOR SELECT USING ((EXISTS ( SELECT 1
   FROM "public"."conversations"
  WHERE (("conversations"."id" = "messages"."conversation_id") AND (("conversations"."participant_1_id" = "auth"."uid"()) OR ("conversations"."participant_2_id" = "auth"."uid"()))))));



CREATE POLICY "Users can view own notifications" ON "public"."notifications" FOR SELECT USING (("auth"."uid"() = "user_id"));



CREATE POLICY "Users can view own order items" ON "public"."order_items" FOR SELECT USING (("order_id" IN ( SELECT "orders"."id"
   FROM "public"."orders"
  WHERE ("orders"."user_id" IN ( SELECT "user_profiles"."id"
           FROM "public"."user_profiles"
          WHERE ("user_profiles"."user_id" = "auth"."uid"()))))));



CREATE POLICY "Users can view own orders" ON "public"."orders" FOR SELECT USING (("user_id" IN ( SELECT "user_profiles"."id"
   FROM "public"."user_profiles"
  WHERE ("user_profiles"."user_id" = "auth"."uid"()))));



CREATE POLICY "Users can view own profile" ON "public"."profiles" FOR SELECT USING (("auth"."uid"() = "id"));



CREATE POLICY "Users can view their own conversations" ON "public"."conversations" FOR SELECT USING ((("auth"."uid"() = "participant_1_id") OR ("auth"."uid"() = "participant_2_id")));



CREATE POLICY "Users manage own notifications" ON "public"."notifications" USING (("user_id" = "auth"."uid"())) WITH CHECK (("user_id" = "auth"."uid"()));



CREATE POLICY "Vendors and Admins can update quotes" ON "public"."quotes" FOR UPDATE USING ((("auth"."uid"() IN ( SELECT "user_profiles"."user_id"
   FROM "public"."user_profiles"
  WHERE ("user_profiles"."id" = "quotes"."vendor_id"))) OR (EXISTS ( SELECT 1
   FROM "public"."user_profiles"
  WHERE (("user_profiles"."user_id" = "auth"."uid"()) AND ("user_profiles"."role" = ANY (ARRAY['admin'::"text", 'super_admin'::"text"])))))));



CREATE POLICY "Vendors can manage own ads" ON "public"."ads" USING (("vendor_id" IN ( SELECT "user_profiles"."id"
   FROM "public"."user_profiles"
  WHERE ("user_profiles"."user_id" = "auth"."uid"()))));



CREATE POLICY "Vendors can manage own media" ON "public"."vendor_media" USING (("vendor_id" IN ( SELECT "user_profiles"."id"
   FROM "public"."user_profiles"
  WHERE ("user_profiles"."user_id" = "auth"."uid"()))));



CREATE POLICY "Vendors can manage own spare parts" ON "public"."spare_parts" TO "authenticated" USING (("vendor_id" IN ( SELECT "user_profiles"."id"
   FROM "public"."user_profiles"
  WHERE ("user_profiles"."user_id" = "auth"."uid"()))));



CREATE POLICY "Vendors can view assigned quotes" ON "public"."quotes" FOR SELECT USING (("auth"."uid"() IN ( SELECT "user_profiles"."user_id"
   FROM "public"."user_profiles"
  WHERE ("user_profiles"."id" = "quotes"."vendor_id"))));



CREATE POLICY "Vendors can view payments for their orders" ON "public"."payments" FOR SELECT TO "authenticated" USING ((EXISTS ( SELECT 1
   FROM ("public"."order_items"
     JOIN "public"."spare_parts" ON (("spare_parts"."id" = "order_items"."spare_part_id")))
  WHERE (("order_items"."order_id" = "payments"."order_id") AND ("spare_parts"."vendor_id" = "public"."uid"())))));



CREATE POLICY "View quote items if access to quote" ON "public"."quote_items" FOR SELECT USING ((EXISTS ( SELECT 1
   FROM "public"."quotes"
  WHERE (("quotes"."id" = "quote_items"."quote_id") AND (("quotes"."client_id" IN ( SELECT "user_profiles"."id"
           FROM "public"."user_profiles"
          WHERE ("user_profiles"."user_id" = "auth"."uid"()))) OR ("quotes"."vendor_id" IN ( SELECT "user_profiles"."id"
           FROM "public"."user_profiles"
          WHERE ("user_profiles"."user_id" = "auth"."uid"()))) OR (EXISTS ( SELECT 1
           FROM "public"."user_profiles"
          WHERE (("user_profiles"."user_id" = "auth"."uid"()) AND ("user_profiles"."role" = ANY (ARRAY['admin'::"text", 'super_admin'::"text"]))))))))));



ALTER TABLE "public"."activity_logs" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."ads" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."cart_items" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."categories" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."conversations" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."guest_cart_items" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."guest_carts" ENABLE ROW LEVEL SECURITY;


CREATE POLICY "insert logs" ON "public"."activity_logs" FOR INSERT WITH CHECK (true);



ALTER TABLE "public"."messages" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."notifications" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."order_items" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."orders" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."payments" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."profiles" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."quote_items" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."quotes" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."spare_parts" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."tj_payment_methods" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."user_carts" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."user_profiles" ENABLE ROW LEVEL SECURITY;


CREATE POLICY "users read own logs" ON "public"."activity_logs" FOR SELECT USING (("auth"."uid"() = "user_id"));



ALTER TABLE "public"."vendor_media" ENABLE ROW LEVEL SECURITY;


REVOKE USAGE ON SCHEMA "public" FROM PUBLIC;
GRANT ALL ON SCHEMA "public" TO PUBLIC;
GRANT USAGE ON SCHEMA "public" TO "anon";
GRANT USAGE ON SCHEMA "public" TO "authenticated";
GRANT USAGE ON SCHEMA "public" TO "service_role";



GRANT ALL ON TABLE "public"."activity_logs" TO "service_role";
GRANT ALL ON TABLE "public"."activity_logs" TO "authenticated";



GRANT SELECT ON TABLE "public"."ads" TO "anon";
GRANT ALL ON TABLE "public"."ads" TO "authenticated";



GRANT ALL ON TABLE "public"."cart_items" TO "authenticated";



GRANT SELECT ON TABLE "public"."categories" TO "anon";
GRANT SELECT ON TABLE "public"."categories" TO "authenticated";



GRANT ALL ON TABLE "public"."conversations" TO "authenticated";



GRANT SELECT ON TABLE "public"."email_logs" TO "authenticated";



GRANT ALL ON TABLE "public"."guest_cart_items" TO "anon";
GRANT ALL ON TABLE "public"."guest_cart_items" TO "authenticated";



GRANT ALL ON TABLE "public"."guest_carts" TO "anon";
GRANT ALL ON TABLE "public"."guest_carts" TO "authenticated";



GRANT ALL ON TABLE "public"."inventory_logs" TO "authenticated";



GRANT ALL ON TABLE "public"."messages" TO "authenticated";



GRANT ALL ON TABLE "public"."notifications" TO "authenticated";
GRANT ALL ON TABLE "public"."notifications" TO "service_role";



GRANT ALL ON TABLE "public"."order_items" TO "authenticated";



GRANT ALL ON TABLE "public"."orders" TO "authenticated";



GRANT ALL ON TABLE "public"."profiles" TO "service_role";
GRANT SELECT ON TABLE "public"."profiles" TO "anon";
GRANT ALL ON TABLE "public"."profiles" TO "authenticated";



GRANT ALL ON TABLE "public"."quote_items" TO "authenticated";



GRANT SELECT ON TABLE "public"."spare_parts" TO "anon";
GRANT ALL ON TABLE "public"."spare_parts" TO "authenticated";



GRANT ALL ON TABLE "public"."tj_payment_methods" TO "authenticated";
GRANT ALL ON TABLE "public"."tj_payment_methods" TO "service_role";



GRANT ALL ON TABLE "public"."user_carts" TO "authenticated";



GRANT ALL ON TABLE "public"."user_profiles" TO "authenticated";



GRANT ALL ON TABLE "public"."vendor_orders" TO "authenticated";



GRANT ALL ON TABLE "public"."vendor_users" TO "authenticated";



GRANT ALL ON TABLE "public"."vendors" TO "authenticated";



\unrestrict CyYAbP07etNOY5MdeI6OVwAzmgowP58ll33EU7ZQsYoxwv4lJ0DEVuR0pOapfaY

RESET ALL;
